.progress-wrapper{
  left:0;
  right:0;
  z-index:999;
  height:5px;
}
.progress-bar{
  width:0;
  position:relative;
  transition:all .3s
}
.progress-main{
  position: absolute;
  left:0;
  right:0;
}
.progress-bar,
.progress-bar-inner{
  display:block;
  height:2px;
  -moz-transition:all .3s;
  -o-transition:all .3s
}
.progress-bar-inner{
  position:absolute;
  top:1px;
  right:0;
  width:100px;
  transition:all .3s;
}
.progress-circle{
  position:absolute;
  top:20px;
  right:20px;
  width:15px;
  height:15px;
  border:2px solid transparent;
  border-radius:50%;
  -webkit-animation:spin .4s linear infinite;
  -moz-animation:spin .4s linear infinite;
  -o-animation:spin .4s linear infinite;
  animation:spin .4s linear infinite;
  -moz-transition:border .3s;
  -o-transition:border .3s;
  transition:border .3s
}
@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0);
    transform:rotate(0);
  }
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@-moz-keyframes spin{
  0%{
      -moz-transform:rotate(0);
      transform:rotate(0);
  }
  100%{
    -moz-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@-o-keyframes spin{
  0%{
    -o-transform:rotate(0);
    transform:rotate(0)
  }
  100%{
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes spin{
  0%{
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0)
  }
  100%{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}
